
$orange         : #BD3613;
$blue           : #2176C7;
$white          : #fff;
$black          : #000;
$coal           : #2b2b2b;
$grey           : #bbb;
$lightGrey      : #ccc;

$font-primary: Signika, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;